$primary: #116ACC;
$secondary: #182233;
$secondary-2: #B3CEE2;
$secondary-3: #D9DDE7;
$secondary-4: #FD4E5D;
$black: #000000;
$blackTransparent: rgba(0, 0, 0, 0.25);
$grayTransparent: rgba(158, 194, 255, 0.1);
$gray-1: #1F2937;
$gray-2: #374151;
$gray-3: #4B5563;
$gray-4: #6B7280;
$gray-5: #9CA3AF;
$gray-6: #D1D5DB;
$gray-7: #F3F4F6;
$white: #FFFFFF;
$info: #A0C3FF;
$success: #76CA66;
$warning: #FBC756;
$error: #BA0000;
